/* reset defaults */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* body */
body{
    font-family: 'Bitcount Prop Single';
    line-height: 1.7;
    background-image: url(kristaps-grundsteins-oufeT7qI52E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 110vh;
    padding-top: 15px;
    scroll-behavior: auto;
    scrollbar-width: 130px;
    scrollbar-color: blue;
}

/* fonts for a */
a{
    font-family: Playfair Display;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.1rem;
    background-color: teal;
    backdrop-filter: blur(20px);
    box-shadow: 2px 4px 6px rgb(97, 97, 199);
    z-index: 1000;
    text-align: center;
}

/* navigations */
nav > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 2.5rem;
    gap: 40px;
    padding-inline-start: 10;
    margin: 0;
}
nav > ul > li  > a{
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.7rem;
    padding: 10px;
    gap: 1.5rem;
    border: 3px solid rgb(34, 32, 32);
    border-radius: 7px;
    justify-content: space-around;
    border-left: 3px solid teal;
    border-right: 3px solid teal;
    transition: 0.3s ease-in-out;
}
nav > ul > li > a:hover{
    color: antiquewhite;
    background: linear-gradient(135deg, #8da0c2, #bfc0c2);
    transform: translateY(-13px);
    box-shadow: 10px 7px 10px rgb(157, 157, 189);
}

/* main */
main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2.7rem;
}

/* section */
section{
    background: rgba(255, 255, 255, 0.98);
    margin: 20rem 10rem;
    padding: 3.7rem 3rem;
    border-radius: 20px;
    box-shadow: 12px 10px 15px teal;
    transition: 0.3s ease;
}