/* reset defaults */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* body */
body{
    font-family: 'Bitcount Prop Single';
    line-height: 1.7;
    background-image: url(kristaps-grundsteins-oufeT7qI52E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 110vh;
    padding-top: 15px;
    scroll-behavior: smooth;
    scrollbar-width: 130px;
    scrollbar-color: blue;
}

/* fonts for a */
a{
    font-family: Playfair Display;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.1rem;
    background-color: teal;
    backdrop-filter: blur(20px);
    box-shadow: 2px 4px 6px rgb(97, 97, 199);
    z-index: 1000;
    text-align: center;
    height: 100px;
}

/* navigations */
nav > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 2.5rem;
    gap: 40px;
    padding-inline-start: 10;
    margin: 0;
    position: fixed;
    right: 0;
    margin-top: 0px;
    padding-top: 0;
}
nav > ul > li  > a{
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.7rem;
    padding: 10px;
    gap: 1.5rem;
    border: 3px solid rgb(34, 32, 32);
    border-radius: 7px;
    justify-content: space-around;
    border-left: 3px solid teal;
    border-right: 3px solid teal;
    transition: 0.3s ease-in-out;
    margin-top: 0;
}
nav > ul > li > a:hover{
    color: antiquewhite;
    background: linear-gradient(135deg, #131314, #e3e5e9);
    transform: translateY(-13px);
    box-shadow: 10px 7px 10px rgba(112, 112, 121, 0.397);
}
/* h1 styles */
h1{
    font-family: Dancing Script;
    font-size: 1.2rem;
    color: white;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 0;
}
h1 img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
h1::after{
    content: '';
    display: block;
    width: 15%;
    height: 4px;
    background: rgb(21, 22, 22);
    margin-top: 5px;
    border-radius: 5px;
    border-left: 3px solid gold;
    border-right: 6px solid blue;
    border-top: 2px solid white;
}
h1:hover{
    color: gold;
}

/* main */
main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2.7rem;
}

/* section */
section{
    background: rgba(221, 214, 214, 0.829);
    margin: 20rem 10rem;
    padding: 3.7rem 3rem;
    border-radius: 20px;
    box-shadow: 5px 7px 17px teal;
    transition: 0.3s ease;
}

/* section hover */
section:hover{
    box-shadow: 15px 20px 25px teal;
    transform: translateY(-10px);
    background: linear-gradient(180deg, teal, lightsalmon);
}
/* h2 styles */
h2{
    font-family: Bitcount prop single;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: rgb(34, 32, 32);
    font-style: italic;
    position: relative;
    text-transform: uppercase;
}
h2::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: rgb(88, 172, 172);
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    display: block;
}
h2:hover{
    color: rgb(78, 41, 41);
}

/* media query styles */
@media (max-width: 768px){
    nav > ul{
        align-items: center;
        padding: 1rem;
        gap: 10px;
        position: absolute;
    }
    nav > ul > li > a{
        font-size: 1.2rem;
        padding: 8px;
    }
    nav > ul > li > a:hover{
        background-color: aliceblue;
        box-shadow: none;
    }
    section{
        margin: 6rem 1rem;
        padding: 2rem 1rem;
    }
    section:hover{
        transform: translateY(0);
        box-shadow: 5px 7px 17px teal;
        background-color: antiquewhite;
    }
    body{
        scrollbar-width: none;
        scroll-behavior: smooth;
        scroll-snap-type: none;
    }
}